# Added by Kolja on 2025-09-30
*.png

*.odbc.ini

# Pre-existing
.pathena
RHIC2023/CALOR/tests/__pycache__/test_rhic2023_sphenix_calor_events.cpython-310-pytest-7.2.0.pyc
run2pp/meh
*.*~
.slurp
.vscode
run3auau.trig
run3auau/CaloProduction/.run.sh.swp
run3auau/CaloProduction/.runhcalcosmics.sh.swp
test.cmd
run3auau/#DST_STREAMING_run3auau_new_latestdb.yaml#
run3auau/streaming/stageout_new.sh
run3auau/postprocess/inputfiles.list
